.authPage {
    position: relative;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background: #F98F1F;
}

.authContainer {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: .9375rem;
    justify-content: center;
    align-items: center;
}

.tituloAuth {
    text-align: center;
    font-size: 4rem;
    color: #ffffff;
}