.authPage {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background: #303030;
}

.authContainer {
    width: 400px;
    background: white;
    padding: 40px;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.tituloAuth {
    text-align: center;
    font-size: 30px;
    color: var(--title-primary);
}