.authButton {
  padding: .75rem;
  border: none;
  background: #FFFFFF;
  color: black;
  cursor: pointer;
  border-radius: 36px;
  width: 15.625rem;
  transition: .3s;
}

.authButton:hover {
  transform: scale(1.03);
}

.authButton:active {
  transform: scale(1.0);
}

.authButton:disabled {
  opacity: .6;
  cursor: not-allowed;
  transform: none;
}
